 *,
 ::after,
 ::before {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
 }

 img {
     width: 100%;
     display: block;
 }

 a {
    color: white;
     text-decoration: none;
 }

 li {
     list-style-type: none;
 }

 body {
    padding: 0;
    margin: 0;
    
background-color: black;
 }

.loading {
    position: fixed;
    inset: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.1s infinite ease;
  transform: translateZ(0);
}
@keyframes mulShdSpin {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em white, 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.5), -1.8em -1.8em 0 0em rgba(255,255,255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.5), 1.8em -1.8em 0 0em rgba(255,255,255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.5), 2.5em 0em 0 0em rgba(255,255,255, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.5), 1.75em 1.75em 0 0em rgba(255,255,255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.5), 0em 2.5em 0 0em rgba(255,255,255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.5), -1.8em 1.8em 0 0em rgba(255,255,255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.5), -2.6em 0em 0 0em rgba(255,255,255, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}
@keyframes rotation {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.toggle-btn{
    position: relative;
    top: 280px;
}
.x-btn{
    position: relative
    ;
    top: 280px;
}
.nav-logo{
    width: 80px;
}



.nav a{  opacity: 1; margin-left: 10px;}

  
.nav-footer{position: absolute;     bottom:20px; left:0}

.nav {
    position: fixed;
    top: 0;
    left: -250px; 
    width: 250px;
    height: 100vh;
    background: black;
    transition: left .4s ease;
    z-index: 9998;
    opacity: 1;
}

.nav.show {
    left: 0; 
}

#sideMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 80px;
    height: 100vh;
    background: #f8f9fa;
    transition: left .4s ease;
    z-index: 9999;
}

#sideMenu.open {
    left: 250px; 
}



.nav a {
    color: white;
}


@keyframes slideUp {
   0% {
        opacity: 0;
        transform: translateY(30px);
   }
   60% {
        opacity: 1;
        transform: translateY(-5px); 
    }
    80% {
        transform: translateY(2px); 
    }
    100% {
        opacity: 1;
        transform: translateY(0); 
    }
}


#sideMenu .nav-link {

    transform: translateY(20px);
}
.nav .nav-link {
    opacity: 0;
    transform: translateY(20px);
}

.nav.show .nav-link {
    animation: slideUp 0.3s forwards;
}



#sideMenu.open .nav-links .nav-link:nth-child(1) { animation-delay: 0.2s; }
#sideMenu.open .nav-links .nav-link:nth-child(2) { animation-delay: 0.3s; }
#sideMenu.open .nav-links .nav-link:nth-child(3) { animation-delay: 0.4s; }
#sideMenu.open .nav-links .nav-link:nth-child(4) { animation-delay: 0.5s; }
#sideMenu.open .nav-links .nav-link:nth-child(5) { animation-delay: 0.6s; }

.nav-footer a{
width: 15px;
height: 15px;

}

.nav-btn {
    position: relative;
   top:500px;
   left: 25px;
}
.nav-btn{
width: 15px;
height: 15px;
}
/* home */
.contanair{
 margin-left:40px ;
    width: 85%;
  
    margin-inline:auto ;
}
 


.inner-food img {
    object-fit: cover;
    display: block;
    
}
.inner-food {
    position: relative;
    overflow: hidden;
  
}
.inner-caption {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.725); 
    opacity: 0;
    transform: translateY(100%);
    transition: all 0.5s ease-in-out;
}
.inner-caption h2{
    top: 150px;
    position: absolute;
}
.inner-food:hover .inner-caption {
    opacity: 1;
    transform: translateY(0);
    background-color: rgba(255, 255, 255, 0.725);
}
.home .col-md-3{
    margin-bottom:25px;
}




/* detailes */


.ingredients {
    display: flex;       
    flex-wrap: wrap;     
    gap: 10px;          
    list-style: none;  
 

}

.ingredients li {
color: black;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #CFF4FC;
}
.tags{
    display: flex;
   
}
.source{
    background-color: green;
    border-radius: 5px;
    width: 80px;
   margin: 2px;
    padding: 7px;
}
.yout{background-color:red;
    border-radius: 5px;
margin: 2px;
       padding: 7px;
    width: 80px;}
/* search */

.search input:focus {
    background-color: black;
    color: white;          
}
.search input::placeholder {
    color: #ccccccae;
}
.search input {
    background-color: black;}
/* categ */
    .category{
        position: relative;
        text-align: center;
    }
    .category h2{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }
    .category p{
position: relative;
top: 50px;
    }
/* area */
    .area .inner-food i{
        font-size: 50px;
        margin-top: 7px;
    
    }

